@*
    _UIServicesComponent
*@

<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Hizmetlerimiz</span>
                    <h2>Sunduğumuz Ayrıcalıklar</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-036-parking"></i>
                    <h4>Seyahat Planlama</h4>
                    <p>
                        Konaklamanız boyunca seyahat ve gezi planlarınızı
                        profesyonel ekibimizle birlikte kolayca oluşturabilirsiniz.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-033-dinner"></i>
                    <h4>Catering Hizmeti</h4>
                    <p>
                        Özel davetleriniz ve organizasyonlarınız için
                        zengin menü seçenekleriyle catering hizmeti sunuyoruz.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-026-bed"></i>
                    <h4>Çocuk Bakımı</h4>
                    <p>
                        Aileler için güvenli ve konforlu bir konaklama
                        deneyimi sunan profesyonel çocuk bakım hizmeti.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-024-towel"></i>
                    <h4>Çamaşırhane</h4>
                    <p>
                        Günlük çamaşır yıkama ve ütü hizmetlerimizle
                        konaklamanız boyunca rahat etmenizi sağlıyoruz.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-044-clock-1"></i>
                    <h4>Özel Şoför</h4>
                    <p>
                        Dilerseniz şehir içi ve şehir dışı ulaşım
                        ihtiyaçlarınız için özel şoför hizmeti sunuyoruz.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-012-cocktail"></i>
                    <h4>Bar & İçecek</h4>
                    <p>
                        Günün yorgunluğunu atmanız için özel kokteyller
                        ve geniş içecek menüsüyle bar hizmetimiz mevcuttur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
