<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona | BOOKING</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/sona-master/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/sona-master/css/elegant-icons.css">
    <link rel="stylesheet" href="~/sona-master/css/flaticon.css">
    <link rel="stylesheet" href="~/sona-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/sona-master/css/nice-select.css">
    <link rel="stylesheet" href="~/sona-master/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/sona-master/css/magnific-popup.css">
    <link rel="stylesheet" href="~/sona-master/css/slicknav.min.css">
    <link rel="stylesheet" href="~/sona-master/css/style.css">

    <!-- Font Awesome 6 (EN SON) -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>
