@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Blog</h2>
                    <div class="bt-option">
                        <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                        <span>Blog Listesi</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog-section blog-page spad">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/blog/blog-1.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Seyahat</span>
                        <h4><a href="./blog-details.html">Kanada’da Tremblant</a></h4>
                        <div class="b-time">
                            <i class="icon_clock_alt"></i> 15 Nisan 2019
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/blog/blog-2.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Kamp</span>
                        <h4><a href="./blog-details.html">Sabit Karavan Seçimi</a></h4>
                        <div class="b-time">
                            <i class="icon_clock_alt"></i> 15 Nisan 2019
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/blog/blog-3.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Etkinlik</span>
                        <h4><a href="./blog-details.html">Bakır Kanyonu</a></h4>
                        <div class="b-time">
                            <i class="icon_clock_alt"></i> 21 Nisan 2019
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/blog/blog-4.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Seyahat</span>
                        <h4><a href="./blog-details.html">Zamanda Yolculuk Kartpostalı</a></h4>
                        <div class="b-time">
                            <i class="icon_clock_alt"></i> 22 Nisan 2019
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/blog/blog-5.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Kamp</span>
                        <h4><a href="./blog-details.html">Zamanda Yolculuk Kartpostalı</a></h4>
                        <div class="b-time">
                            <i class="icon_clock_alt"></i> 25 Nisan 2019
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/blog/blog-6.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Seyahat</span>
                        <h4><a href="./blog-details.html">Çocuklar İçin Virginia Gezisi</a></h4>
                        <div class="b-time">
                            <i class="icon_clock_alt"></i> 28 Nisan 2019
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/blog/blog-7.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Seyahat</span>
                        <h4><a href="./blog-details.html">Bryce Kanyonu’nun Büyüsü</a></h4>
                        <div class="b-time">
                            <i class="icon_clock_alt"></i> 29 Nisan 2019
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/blog/blog-8.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Etkinlik & Seyahat</span>
                        <h4><a href="./blog-details.html">Karavan mı, Römork mu?</a></h4>
                        <div class="b-time">
                            <i class="icon_clock_alt"></i> 30 Nisan 2019
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/blog/blog-9.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Kamp</span>
                        <h4><a href="./blog-details.html">Portekiz Lagos’ta Kaybolmak</a></h4>
                        <div class="b-time">
                            <i class="icon_clock_alt"></i> 30 Nisan 2019
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Blog Section End -->
