@*
_LayoutFooterComponent
*@

<footer class="footer-section">
    <div class="container">
        <div class="footer-text">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ft-about">
                        <div class="logo">
                            <a href="/">
                                <img src="~/sona-master/img/footer-logo.png" alt="">
                            </a>
                        </div>
                        <p>
                            90 farklı yerel web sitesi üzerinden<br />
                            milyonlarca gezgine ilham veriyor ve ulaşıyoruz.
                        </p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-tripadvisor"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 offset-lg-1">
                    <div class="ft-contact">
                        <h6>İletişim</h6>
                        <ul>
                            <li>(212) 345 67 90</li>
                            <li>info@sonaotel.com</li>
                            <li>İstiklal Caddesi - Taksim/İstanbul</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 offset-lg-1">
                    <div class="ft-newslatter">
                        <h6>Güncel Haberler</h6>
                        <p>En son duyuru ve kampanyalardan haberdar olun.</p>
                        <form action="#" class="fn-form">
                            <input type="text" placeholder="E-posta Adresiniz">
                            <button type="submit">
                                <i class="fa fa-send"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <ul>
                        <li><a href="#">İletişim</a></li>
                        <li><a href="#">Kullanım Şartları</a></li>
                        <li><a href="#">Gizlilik Politikası</a></li>
                        <li><a href="#">Çevre Politikası</a></li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="co-text">
                        <p>
                            © <script>document.write(new Date().getFullYear());</script>
                            Tüm Hakları Saklıdır | Tasarım & Geliştirme:
                            <strong>Merve Arpacıoğlu Türk</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
