@*
   _UITestimonialComponent
*@

<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Misafir Yorumları</span>
                    <h2>Misafirlerimiz Ne Diyor?</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="testimonial-slider owl-carousel">

                    <div class="ts-item">
                        <p>
                            İnşaat süreci beklediğimizden uzun sürdüğü için
                            eşim ve kızımla birlikte birkaç günlüğüne konaklayacak
                            bir yer arıyorduk. Şehri ve çevresini çok iyi bilen
                            bir Chicago sakini olarak söyleyebilirim ki,
                            Sona Otel’de geçirdiğimiz tatil beklentilerimizin
                            çok üzerindeydi. Konfor, hizmet ve ilgi mükemmeldi.
                        </p>
                        <div class="ti-author">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star-half_alt"></i>
                            </div>
                            <h5> - Alexander Vasquez</h5>
                        </div>
                        <img src="/sona-master/img/testimonial-logo.png" alt="">
                    </div>

                    <div class="ts-item">
                        <p>
                            Konaklama süremiz boyunca kendimizi evimizde gibi
                            hissettik. Odaların temizliği, personelin güler yüzü
                            ve sundukları hizmetler gerçekten çok etkileyiciydi.
                            Bir sonraki seyahatimizde kesinlikle tekrar
                            Sona Otel’i tercih edeceğiz.
                        </p>
                        <div class="ti-author">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star-half_alt"></i>
                            </div>
                            <h5> - Alexander Vasquez</h5>
                        </div>
                        <img src="/sona-master/img/testimonial-logo.png" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
