@*
    _UIHeroRoomComponent
*@

<section class="hp-room-section">
    <div class="container-fluid">
        <div class="hp-room-items">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/sona-master/img/room/room-b1.jpg">
                        <div class="hr-text">
                            <h3>Çift Kişilik Oda</h3>
                            <h2>199$<span>/Gecelik</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Oda Boyutu:</td>
                                        <td>30 m²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Kapasite:</td>
                                        <td>Maksimum 5 Kişi</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Yatak:</td>
                                        <td>King Yatak</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Hizmetler:</td>
                                        <td>Wi-Fi, Televizyon, Banyo, ...</td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/sona-master/img/room/room-b2.jpg">
                        <div class="hr-text">
                            <h3>Premium King Oda</h3>
                            <h2>159$<span>/Gecelik</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Oda Boyutu:</td>
                                        <td>30 m²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Kapasite:</td>
                                        <td>Maksimum 5 Kişi</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Yatak:</td>
                                        <td>King Yatak</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Hizmetler:</td>
                                        <td>Wi-Fi, Televizyon, Banyo, ...</td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/sona-master/img/room/room-b3.jpg">
                        <div class="hr-text">
                            <h3>Deluxe Oda</h3>
                            <h2>198$<span>/Gecelik</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Oda Boyutu:</td>
                                        <td>30 m²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Kapasite:</td>
                                        <td>Maksimum 5 Kişi</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Yatak:</td>
                                        <td>King Yatak</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Hizmetler:</td>
                                        <td>Wi-Fi, Televizyon, Banyo, ...</td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/sona-master/img/room/room-b4.jpg">
                        <div class="hr-text">
                            <h3>Aile Odası</h3>
                            <h2>299$<span>/Gecelik</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Oda Boyutu:</td>
                                        <td>30 m²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Kapasite:</td>
                                        <td>Maksimum 5 Kişi</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Yatak:</td>
                                        <td>King Yatak</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Hizmetler:</td>
                                        <td>Wi-Fi, Televizyon, Banyo, ...</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
