@*
 _UIAboutUsComponent
*@

<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>Hakkımızda</span>
                        <h2>İşte Rüyalarda Gibi Hissedeceğiniz<br />Sona Hotel</h2>
                    </div>
                    <p class="f-para">
                        Sona.com, konaklama alanında öncü bir online rezervasyon platformudur.
                        Seyahate tutkuyla bağlıyız. Her gün 41 farklı dilde ve 90 yerel web sitesi
                        üzerinden milyonlarca gezgine ilham veriyor ve onlara ulaşıyoruz.
                    </p>
                    <p class="s-para">
                        Mükemmel oteli, tatil evini, resortu, apart daireyi, misafirhaneyi
                        hatta doğayla iç içe bir ağaç evi arıyorsanız, doğru yerdesiniz.
                        Tüm rezervasyon ihtiyaçlarınız için yanınızdayız.
                    </p>
                    <a href="/About/Index/" class="primary-btn about-btn">Devamını Oku</a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="sona-about-images">
                    <img src="/sona-master/img/about/about-1.png"
                         alt="Sona Hotel"
                         class="sona-about-img">

                    <img src="/sona-master/img/about/about-02.png"
                         alt="Sona Hotel"
                         class="sona-about-img">
                </div>
            </div>

    </div>
</section>

 <style>


   .sona-about-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sona-about-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 16px;
}

    }

                    </style>